/sets/Botswana.mat
/sets/Botswana_gt.mat
/sets/Indian_pines.mat
/sets/Indian_pines_corrected.mat
/sets/Indian_pines_gt.mat
/sets/KSC.mat
/sets/KSC_gt.mat
/sets/Pavia.mat
/sets/Pavia_gt.mat
/sets/PaviaU.mat
/sets/PaviaU_gt.mat
/sets/Salinas.mat
/sets/Salinas_corrected.mat
/sets/Salinas_gt.mat
/sets/SalinasA.mat
/sets/SalinasA_corrected.mat
/sets/SalinasA_gt.mat
